<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>


<form action="/login" method="POST" style="float: right;">
  <input id="username" type="text" name="username" placeholder="username" style="width: 150px">
  <button type="login" name="login">Log in</button>
</form>
