<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link href="/css/styles.css" rel="stylesheet" />
</head>


<section class="loginButons">

<% if (loginStatus == false) { %>
  <section class="mainLogin">
  <form action="/register" style="float: right;">
    <button type="register" name="register">Register</button>
  </form>

  <form action="/login" style="float: right;">
    <button type="login" name="login">Login</button>
  </form>
<% } else { %>

</section>
</section>

  <% } %>
