<% include ./partials/_header %>
<body>
    <!-- Add your EJS code here -->

    <% if (loginStatus == false) { %>
      <h2>Log in or register to create and see your short URLS</h2>
    <% }  %>


<% if (loginStatus == true) { %>

<% if (userCurrent.shortURL == []) { %>
    <h2>You dont have any Short URLS</h2>
  <% } %>

  <%   console.log("this is userCurrent " + userCurrent.shortURL) %>
    <% userCurrent.shortURL.forEach(function(url, i) { %>


      <li><%= url %>  <%= userCurrent.longURL[i] %>
        <form method="POST" style="display: inline;" action="/urls/<%= userCurrent.shortURL %>/delete">
        <button type="delete" name="delete">Delete</button>
      </form>
      <a href="/urls/<%= userCurrent.shortURL[i] %>">
        <button type="update" name="update">Update</button>
        </a>
    </li>
    <% }); %>


      <form action="urls/new">
        <button type="new" name="new">Make a URL Short</button>
      </form>
      <% } %>



</body>
</html>
