<% include ./partials/_header %>
<body>

<h2>Register</h2>
<form action="/register" method="POST" style="">
  <input id="email" type="text" name="email" placeholder="email" style="width: 150px"> <br>
  <input id="password" type="text" name="password" placeholder="password" style="width: 150px">
  <button type="submit" name="submit">Submit</button>
</form>


</body>
</html>
