<% include ./partials/_header %>
<body>
    <!-- Add your EJS code here -->
    <ol>
      <li>google short form: goog</li>
      <li>facebook short form: FB</li>
      <li>youtube short form: YT</li>
    </ol>


    <a href="#">Make stuff short</a>

</body>
</html>
