<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% include partials/_header %>
    <section class="mainLogin">
    <form action="/urls" method="POST" >
      <h2>Create a short URL</h2>
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/urls">Home</a>
    <form action="/logout" method="POST"  style="float: right;">
      <button type="logout" name="logout">Logout</button>
    </form>
  </section>
  </body>
</html>
