<% include ./partials/_header %>



  <%   console.log(shortURL) %>
<h2>Short URL:  <%= shortURL %>
   <br>Full URL:  <%= urls %> </h2>


<form action="/urls/<%= shortURL %>/update" method="POST" style="margin:150px;">
  <label for="update">Update URL:</label>
  <input id="update" type="text" name="update" placeholder="http://" style="width: 300px">
  <input type="submit" value="Submit">
</form>
