
<% include ./partials/_header %>
<body>

<section class="mainLogin">
<h2>Login</h2>
<form action="/login" method="POST" style="">
  <input id="email" type="text" name="email" placeholder="email" style="width: 150px"> <br>
  <input id="password" type="text" name="password" placeholder="password" style="width: 150px">
  <button type="submit" name="submit">Submit</button>
</form>
</section>

</body>
</html>
